<div class="section">
    <div class="body">
        <div class="title">Lowes Link (Sheet 1) and Daily Routes (Sheet 2) - Excel File</div>

        <div id="lowes-link-daily-routes-file" class="drop">Drop File Here</div>

        <div *ngIf="this.lowesLinkDailyRoutesFileName" class="drop-name">{{ this.lowesLinkDailyRoutesFileName }}</div>

        <div class="template-btn-container">
            <button (click)="this.showLowesLinkTemplate('lowesLink')" color="primary" mat-button>Lowes Link (Sheet 1) Template</button>
            <button (click)="this.showLowesLinkTemplate('dailyRoutes')" color="primary" mat-button>Daily Routes (Sheet 2) Template</button>
        </div>
    </div>
</div>

<div class="section">
    <div class="body">
        <div class="title">Plant Partner Delivery Route Schedule By Vehicle - XML File</div>

        <div id="plant-partner-file" class="drop">Drop File Here</div>

        <div *ngIf="this.plantPartnerFileName" class="drop-name">{{ this.plantPartnerFileName }}</div>
    </div>
</div>

<hr />

<div class="section">
    <div class="body">
        <div class="title">Generate Plant Partner File for Upload - Excel File</div>

        <div id="plant-partner-upload-file" class="drop">Drop File Here</div>

        <div class="template-btn-container">
            <button (click)="this.showLowesLinkTemplate('plantPartner')" color="primary" mat-button>Plant Partner Upload Template</button>
        </div>
    </div>
</div>