<div class="section">
    <span class="section-title">Lowes Link File</span>

    <br>
    <br>

    <input [(ngModel)]="this.lowesLinkFile" (ngModelChange)="this.lowesLinkFileChange()" id="lowes-link-file" type="file" />

    <br>
    <br>

    <div>[ No Headers ]</div>
    <img src="../assets/images/lowes-link.png" />

    <br>
    <br>
</div>

<hr />

<div class="section">
    <br>

    <span class="section-title">Plant Partner Delivery Route Schedule By Vehicle File (XML)</span>

    <br>
    <br>

    <input [(ngModel)]="this.plantPartnerFile" (ngModelChange)="this.plantPartnerFileChange()" id="route-schedule-file" type="file" />

    <br>
    <br>
</div>

<hr />

<div class="section">
    <br>

    <span class="section-title">Daily Routes File</span>

    <br>
    <br>

    <input [(ngModel)]="this.dailyRoutesFile" (ngModelChange)="this.dailyRoutesChange()" id="daily-routes-file" type="file" />

    <br>
    <br>

    <div>[ No Headers ]</div>
    <img src="../assets/images/daily-routes.png" />

    <br>
    <br>
</div>

<hr />

<div id="upload-section" class="section">
    <br>

    <span class="section-title">Generate Plant Partner File for Upload</span>

    <br>
    <br>

    <input [(ngModel)]="this.plantPartnerFileUpload" (ngModelChange)="this.plantPartnerFileUploadChange()" id="plant-partner-file-upload" type="file" />

    <br>
    <br>

    <div>[ With Headers ]</div>
    <img src="../assets/images/plant-partner-upload.png" />
</div>